body
{
    text-align: center;
}
.container{
  background-color: rgb(187, 128, 60);  
}
#app {
    background-color: rgb(148, 255, 8);
}

#myCarousel
{
    background-color: rgb(251, 0, 255);
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
